<!-- {{message$ | async}}
<button (click)="spanishMessage()">Spanish</button>
<button (click)="frenchMessage()">French</button> -->

<!-- <div *ngIf="post$ | async as p"> -->
  <h2>Text:{{ (post$ | async).text }}</h2>
  <h4>Votes:{{ (post$ | async).likes }}</h4>
  <!-- <p>{{post$|async.text}}</p>
<p>{{post$|async.likes}}</p> -->
  <button (click)="upvote()">Upvote</button>
  <button (click)="downvote()">Downvote</button>
  <button (click)="resetPost()">Reset</button>
  <input  type="text" [(ngModel)]="text">
  <button (click)="editText()">Change Title</button>
<!-- </div> -->
<router-outlet></router-outlet>